.App{
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .padding20{
    padding: 20px;
  
  }
  .center
  {
    display: flex;
    justify-content: center;
  }

.head{
  padding: 20px;
  h2{
    color: red;
  }
}  
.redButton{
  margin-left: 43%;
  margin-right: auto;
}